html {
  box-sizing: border-box;
  width: 100%;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container{
  width: 100%;
  color: #888;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

.link{
  color: #888;
  font-family: 'Roboto Condensed', sans-serif;
}

.link:hover{
  color: #888;
  text-decoration: underline;
}

h2 {
  font-family: 'Roboto Condensed', sans-serif;
}
/* HEADER */
header{
  background: white;
  display: flex;
  justify-content: space-between;
}

.header-left{
  display: flex;
  align-items: center;
}

.header-right{
  display: flex;
  align-items: center;
}

.header-item{
  margin: 5px 15px;
  font-size: 23px;
  padding: 1px 0px;
  color: #888;
  border-bottom: white 1px solid;
  transition: border 300ms, color 300ms;
  font-family: 'Roboto Condensed', sans-serif;
}

.header-item:hover{
  border-bottom: #333 1px solid;
  color: #333;
}

.logo{
  height: 65px;
  margin: 5px 15px;
}

.navrightside {
  margin-right: 10px;
}

.searchBAR{
  outline: none;
  margin: 5px 15px;
  font-size: 22px;
  color: #888;
  border: none;
  border-bottom: 1px solid #999;
  padding: 1px 2px;
  font-family: 'Roboto Condensed', sans-serif;
}

.searchBAR::placeholder{
  color: #888;
  font-family: 'Roboto Condensed', sans-serif;
} 

/* FOOTER */
/* SCORES */
@keyframes customticker {
  from {
    transform: translate3d(100%, 0, 0);
  }
  to {
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes customticker2 {
  from {
    -webkit-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
  }
  to {
    -webkit-transform: translate3d(-200%, 0, 0);
    transform: translate3d(-200%, 0, 0);
  }
}

.scoreBar {
  width: 100%;
  overflow: hidden;
  background-color: #333;
  display: flex;
  border-top: #888 1px solid;
  border-bottom: #888 1px solid;
}

.games1 {
  display: flex;
  white-space: nowrap;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-name: customticker;
  animation-name: customticker;
  -webkit-animation-duration: 40s;
  animation-duration: 40s;
}

.games2 {
  display: flex;
  white-space: nowrap;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-name: customticker2;
  animation-name: customticker2;
  -webkit-animation-duration: 40s;
  animation-duration: 40s;
  animation-delay: 20s;
}

.GAME{
  display: flex;
  border-left: 1px solid #888;
  border-right: 1px solid #888;
  font-family: 'Roboto Condensed', sans-serif;
}

.FINALGAME{
  display: flex;
  padding: 1px 18px;
}

.WIN{
  color: #00FFDA;
  margin: 5px 10px;
  font-weight: bold;
}

.LOSS{
  color: #888;
  margin: 5px 10px;
}

/* REAL FOOTER */
.footer{
  width: 100%;
  padding-bottom: 50px;
  background: #333;
  display: flex;
  justify-content: space-around;
  padding-top: 5px;
}

.footerSECTION{
  display: flex;
  flex-direction: column;
  font-family: 'Roboto Condensed', sans-serif;
  color: #888;
  /* margin: 0px 100px 0px 50px; */
}

.footer-title{
  font-size: 22px;
}

.footer-information{
  font-size: 17px;
  font-weight: lighter;
}

.social-icon{
  margin: 2px 5px;
  font-size: 20px;
}



/* brand logos main page */
.brandshome {
  display: flex;
  justify-content: space-evenly;
}

.brandshome img {
  max-height: 200px;
}

/* Social Icons */

.socialmedia button {filter: grayscale(100%);}

span.aws-btn__wrapper{filter: grayscale(100%);
transition: .5s;}

span.aws-btn__wrapper:hover {filter: grayscale(0);}

.socials {margin: 0px 100px 0px 50px}

.newsLetterHome {  margin: 0px 100px 0px 50px;
}