/* ShoesPageFilter */

.brandfiltercontainer {
	width: 900px;
	margin: auto;
}

.brandfilter img {
	width: 45px;
	/* border: 1px solid #00FFDA; */
  margin: 0px 5px;
  cursor: pointer;
}
    
/* .brandfilter img:hover {
	transform: scale(.9);
} */
    
.brandfilter {
	display: flex;
	justify-content: flex-start;
	width: 100%;
	/* margin: auto; */
}