/* ShoesPageFilter */

.brandfiltercontainer {
	font-family: 'Roboto Condensed', sans-serif;
	width: 1089px;
	margin: auto;
	outline: none;
}

select{
	outline: none;
	margin-left: 5px;
}
.brandfilter img {

	width: 45px;
	/* border: 1px solid #00FFDA; */
  margin: 0px 5px;
  cursor: pointer;
}
    
.brandfilter {
	display: flex;
	justify-content: flex-start;
	width: 100%;
	align-items: center;
	outline: none;
	/* margin: auto; */
}
div.brandfiltercontainer {display: flex;
justify-content: flex-end;}