.playerprofile {
	width: 100vh;
	height: 80vh;
	margin: auto;
	display: flex;
	align-items: center;
}

.productleft {
	height: 98%;
}

.section2{
	width: 40vh;
	height: 98%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.playerDesc{
	display: flex;
	flex-direction: column;
}

.TeamName {
	font-size: 17px;
	text-transform: uppercase;
	font-weight: lighter;
	margin: 0px;
}

.PlayerName {
	font-size: 20px;
	text-transform: uppercase;
	margin: 0px;

}

.ppShoeImage {
	justify-content: center;
}

.shoePic{
	width: 100%;
}


.productright{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 35vh;
}
 
.brand{
	font-size: 17px;
	text-transform: uppercase;
	font-weight: lighter;
}

.name{
	font-size: 20px;
	text-transform: uppercase;
}

.size{
  font-size: 20px;
  text-transform: uppercase;
}

.ShoePrice{
  font-size: 20px;
	text-transform: uppercase;
	color: #00FFDA;
}