#playercontainer {
    width: 100%;
    /* margin: auto; */
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.player{
  margin: 10px;
  cursor: pointer;
  /* color: #333; */
  color: #888;
  transition: color 500ms;
}

.playerImg {
  width: 250px;
  height: 350px;
  filter: grayscale();
  transition: filter 500ms;
}

.playerImg:hover{
  filter: none;
}

.player:hover{
  /* color: #999; */
  color: #333;

}

.playerDesc{
  display: flex;
  flex-direction: column;
  text-decoration: none;
}

.teamName{
  font-size: 1vw;
  text-transform: uppercase;
  font-weight: lighter;
}

.playerName{
  font-size: 1vw;
  text-transform: uppercase;
}

.pagination {
  display: flex;
  justify-content: center;
}