.product {
	height: 65vh;
	width: 100vh;
	margin: auto;
	margin-bottom: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.productleft {
	width: 100%;
}

.productleft img {
    width: 90%;
}

.productright{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 35vh;
}
 
.brand{
    font-size: 17px;
    text-transform: uppercase;
    font-weight: lighter;
}

.brandPU {    color: #00FFDA;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: lighter;
}

.name{
    font-size: 20px;
    text-transform: uppercase;
}

.namePU{ color: #00FFDA;
    font-size: 20px;
    text-transform: uppercase;
}

.size{
  font-size: 20px;
  text-transform: uppercase;
}

.ShoePrice{
  font-size: 20px;
    text-transform: uppercase;
    color: #00FFDA;
}

.addToCart{
    font-size: 20px;
    width: 100%;
    text-transform: uppercase;
    color: #888;
    background: transparent;
    border: #888 1px solid;
    font-family: 'Roboto Condensed', sans-serif;
    outline: none;
    cursor: pointer;
    transition: color 500ms, border 500ms;
}

.addToCart:hover{
    color: #333;
    border: #333 1px solid;
}

.playerIMG img{
	width: 30vh;
	margin: 7px 0px 0px 
}

.puButton{
	font-size: 20px;
	width: 100%;
	text-transform: uppercase;
	color: #888;
	background: transparent;
	border: #888 1px solid;
	font-family: 'Roboto Condensed', sans-serif;
	outline: none;
	cursor: pointer;
	transition: color 500ms, border 500ms;
	margin-top: 20px;
}

.puButton:hover{
	color: #333;
	border: #333 1px solid;
}

div.popup-content {	color: #00FFDA;
	background: #333 !important;

}

.ratings {
    display: flex;
    align-items: center;
    margin: 5px 0;
    justify-content: space-around;
    width: 100%;
}

.ratings p {
    margin: 0;
    margin-bottom: 3px;
}