
button.StripeCheckout {
  width: 100%;
  background: #888;
  text-transform: uppercase;
  font-weight: lighter;
  color: #333;
  cursor: pointer;
  font-size: 1em;
  border: #333 1px solid;
  font-family: 'Roboto Condensed', sans-serif;
}
